<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pinpay>
                <model>Aligent\Pinpay\Model\Payment</model>
                <title>Credit Card (Pin Payments)</title>
                <active>1</active>
                <test_mode>1</test_mode>
                <payment_action>authorize_capture</payment_action>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </pinpay>
        </payment>
    </default>
</config>
