<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pinpay>
                <model>Aligent\Pinpay\Model\Payment</model>
                <title>Credit Card (Pin Payments)</title>
                <payment_action>authorize</payment_action>
                <production_url>https://api.pin.net.au/1</production_url>
                <testing_url>https://test-api.pin.net.au/1</testing_url>
                <active>0</active>
                <order_status>processing</order_status>
                <test_mode>1</test_mode>
            </pinpay>
        </payment>
    </default>
</config>
